<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>websocket示例</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	
	<body>
		<div id="app">
			<h3>消息显示</h3>
			<ul>
				<li v-for="(message, index) in messages" :key="index">
					{{message}}
				</li>
			</ul>
			<hr>
			<h3>发送消息 </h3>
			<input type="text" v-model="sendMsg" />
			<button type="button" @click="send">发送</button>
		</div>
		<script type="text/javascript">
			var socket;
			var app = new Vue({
				el: '#app',
				data: {
					messages: [],
					sendMsg: ''
				},
				created: function() {
					var _this = this;
					//创建WebSocket对象，指定要连接的服务器地址和端口，建立连接10.40.209.53
					socket = new WebSocket("ws://localhost:8080/websocket");
					//打开连接
					socket.onopen = function() {
						console.log("Socket已打开");

					};
					//获得服务端推送的消息
					socket.onmessage = function(msg) {
						console.log(msg.data);
						_this.messages.push(msg.data);
						console.log(_this.messages);
					};
					//关闭连接
					socket.onclose = function() {
						console.log("Socket已关闭");
					};
					//发送错误
					socket.onerror = function() {
						alert("Socket发生了错误");
					}
				},
				watch: {
					// 如果 `messages` 发生改变，这个函数就会运行
					messages: function(newMsg, oldMsg) {
						//this.messages = newMsg;
						var n = new Notification('Title', {//标题
							body : newMsg[newMsg.length - 1] //显示内容
							
						});
						//5秒后关闭通知
						setTimeout(function() {
							n.close();
						}, 8000);
					},
				},
				methods: {
					send: function() {
						socket.send(this.sendMsg);
						
					}
				}
			})
		</script>
	</body>
</html>
